:root {
  font-family: "Playfair Display SC";
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.985);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-image: url(../assets/Images/bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  margin: 0;
  padding: 0;
}

#main-body{
  display: flex;
  justify-content:space-around;
  align-items: baseline;
  height: 90vh;
}